.card {
  width: 70%;
  padding: 10px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--orange {
  background-color: rgb(255, 154, 30);
}

.card--red {
  background-color: rgb(244, 31, 31);
}

.card--yellow {
  background-color: rgb(252, 241, 41);
}

.card--blue {
  background-color: rgb(82, 82, 191);
}

.card--green {
  background-color: rgb(130, 230, 50);
}
